body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

textarea {
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    resize: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: auto;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}