<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/footer.css">
</head>
<body>
    {% block header %}
        {% include "header.html" %}
    {% endblock %}
    <main>
        <h1>로그인</h1>
        <form action="/login/" method="POST" id="loginForm">
            <label for="emailBox">이메일</label>
            <input type="email" name="email" id="emailBox" />
            <label for="pwBox">패스워드</label>
            <input type="password" name="pw" id="pwBox" />
            <button type="submit">로그인</button>
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>